/* Sayfa Genel Stil */
body{
    font-family: Arial, sans-serif;
    background-color: #f7f9fc;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1, h2 {
    margin-top: 20px;
    color: #555;
}

/* Form Stil */
form {
    margin: 20px auto;
    padding: 20px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="file"] {
    margin-bottom: 10px;
}

button{
    padding: 10px 20px;
    padding-top: 0px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* Next two entries added exclusively so the back button on the email buttons page would look different than the rest */
.notEffected, .notEffected button {
    all: unset; 
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: black;
    text-decoration: none;
}


.notEffectedContainer {
    text-align: left; 
    margin: 20px; 
    
}

/* Fotoğraf Galerisi */
#photoGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    max-width: 90%;
}

#photoGallery img {
    width: 200px;
    height: auto;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

#photoGallery img:hover {
    transform: scale(1.05);
}
